@use './Variables.scss' as *;

.partners {
    background-color: $background-color-primary;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .partner {
        height: 100%;
    }
}