@use './Variables.scss' as *;

.section_name {
    color: $button-try-color-secondary;
}

.section_title {
    font-size: 2rem;
    padding: 1rem 0;

    span {
        font-weight: 700;
    }
}

.section_comment {
    font-weight: 100;
    font-size: 1rem;
    color: $text-small-color;
    width: 30%;
    margin: 0 auto;
}