@use './Variables.scss' as *;

.services {

    .header {
        text-align: center;
    }

    .grid {
        display: flex;
        padding: 6rem 0;
        gap: 3rem;


        .card {
            text-align: center;

            img {
                width: 30%;
                height: 50%;
                padding-bottom: 2rem;
            }

            p {
                width: 50%;
                margin: 0 auto;
                padding-top: 2rem;
                color: $text-small-color;
            }
        }
    }

    .btn {
        display: flex;
        justify-content: center;


        button {
            @include button-try;
        }
    }
}