@use './partials/Variables.scss' as *;
@use './partials/HeaderStyle';
@use './partials/ServiceStyle';
@use './partials/SectionCardHeader';
@use './partials/StartProjectStyle';
@use './partials/Portfolio';
@use './partials/PriceListStyle';
@use './partials/BlogStyle';
@use './partials/Testimonials';
@use './partials/PartnersStyle';
@use './partials/Subscribe';
@use './partials/MainStyle';
@use './partials/FooterStyle';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0;
}

button:hover {
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.2);
    opacity: 0.8;
}