@use './partials/Variables.scss' as *;
@use './partials/HeaderStyle';
@use './partials/ServiceStyle';
@use './partials/SectionCardHeader';
@use './partials/StartProjectStyle';
@use './partials/Testimonials';
@use './partials/PartnersStyle';
@use './partials/Subscribe';
@use './partials/FooterStyle';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background_primary: #527CEB
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0;
}